<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/ChaplinMarchais/index.json" />
  </packageSources>
  <packageSourceCredentials>
      <github>
          <add key="Username" value="ChaplinMarchais" />
          <add key="ClearTextPassword" value="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" />
      </github>
  </packageSourceCredentials>
</configuration>
